{% extends 'generic_page.html' %}
{% block contents %}
{% load static %}
{% if user.is_authenticated %}
<p>{{user.username}} | <a href="{% url 'logout' %}">Log out</a></p>
<script src="{% static 'index.js' %}"></script>
<form id="to_do_list_creation_form" action="javascript:createToDoList()" method="post">
    {% csrf_token %}
    <input type="text" name="title"/><input type="submit" value="Create new to-do list">
</form>
<p id="error_field" style="color:red" hidden><strong></strong></p>
<ul id="to_do_lists"></ul>
{% else %}
<p>It seems like you're not logged in yet!</p>
<p><a href="{% url 'login' %}">Log in</a> | <a href="{% url 'registration' %}">Register</a></p>
{% endif %}
{% endblock %}